# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.env
.env

# Virtualenv
env/
venv/

# Django
*.sqlite3
db.sqlite3
/media
/staticfiles

# VSCode or JetBrains IDEs
.vscode/
.idea/

# Mac system files
.DS_Store

# Others
mvp.md