{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birthday Reminder</title>
    <link rel="stylesheet" href="{% static '/base.css' %}" />
    {% block extra_head %}
    <!-- Additional CSS or JS can be added here -->
    {% endblock %}
  </head>
  <body>
    <header>
      <h1>Birthday Reminder App</h1>
      <nav>
        <ul>
          <li><a href="{% url 'birthdays:home' %}">Home</a></li>
          <li>
            <a href="{% url 'birthdays:add' %}">Add Birthdays</a>
          </li>
          <li><a href="{% url 'users:account' %}">Profile</a></li>

          {% if user.is_authenticated %}
          <li>
            <form method="post" action="{% url 'users:logout' %}">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          </li>
          {% else %}
          <li><a href="{% url 'users:login' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      
      {% block content %}
      <!-- Page-specific content will be inserted here -->
      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2025 Birthday Reminder</p>
    </footer>
  </body>
</html>
