{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birthday Reminder</title>
    <link rel="icon" href="{% static '/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/base.css' %}" />
    <script>
      const setTimezoneUrl = "{% url 'users:set_timezone' %}";
      const csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static '/js/timezone.js' %}" defer></script>
    <script src="{% static '/js/hamburger.js' %}" defer></script>
    {% block extra_head %}
    <!-- Additional CSS or JS can be added here -->
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="logo">
        <img class="logo-image" src="{% static '/images/Vista Logos/logo.webp' %}" alt="Birthday Reminder Logo">
        <h1 class="logo-text">Birthday Reminder</h1>
      </div>

      <div class="hamburger-menu" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <nav class="navigation">
        <div class="close" onclick="toggleMenu()">
          <div></div>
          <div></div>
        </div>
        <ul>
          <li><a href="{% url 'birthdays:home' %}">Home</a></li>
          <li>
            <a href="{% url 'birthdays:add' %}">Add Birthdays</a>
          </li>
          <li><a href="{% url 'users:account' %}">Profile</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
          </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% block content %}
      <!-- Page-specific content will be inserted here -->
      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2025 Birthday Reminder</p>
      <a href="{% url 'birthdays:attributions' %}">Attributions</a>
    </footer>
  </body>
</html>
