{% extends 'base.html' %} {% block content %}

<div class="attributions">
  <h1>Attributions</h1>
  <ul>
    <li>
      <a
        href="https://www.flaticon.com/free-icons/gift"
        title="gift icons"
        target="_blank"
        >Gift icons created by Freepik - Flaticon</a
      >
    </li>
    <li>
      <a
        href="https://www.vistaprint.com/logomaker"
        title="logos"
        target="_blank"
        >Logos created by vistaprint</a
      >
    </li>
  </ul>
</div>

{% endblock %}
