{% extends 'base.html' %} {% load static %} {% block extra_head %}
<script src="{% static 'birthdays/js/countdown.js' %}" defer></script>
{% endblock %} {% block content %}
<h2>Welcome to the Birthday Reminder App!</h2>
<p>Stay updated with the birthdays of your friends and loved ones!</p>

<table>
  <thead>
    <tr>
      <th colspan="2">Your List of Birthdays</th>
    </tr>
  </thead>

  <tbody>
    {% for birthday in birthdays %}
    <tr class="birthday-entry">
      <td>{{ birthday.name }}</td>
      <td class="countdown" data-birthday="{{ birthday.date|date:'Y-m-d' }}">
        Loading countdown...
      </td>
      <td><a href="{% url 'birthdays:view'   birthday.id %}">View</a></td>
      <td><a href="{% url 'birthdays:edit'   birthday.id %}">Edit</a></td>
      <td><a href="{% url 'birthdays:delete' birthday.id %}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
